<!DOCTYPE html>
<html>
<head>
  <title>Zetto</title>
  <%= stylesheet_link_tag    "zetto/application", media: "all" %>
  <%= javascript_include_tag "zetto/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
